<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <style>
        .page404 {
            position: fixed;
            top: 50%;
            left: 50%;
            font-size: 5rem;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .back {
            font-size: 20px;
            cursor: pointer;
        }
        
        .back:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="page404">
        404
        <div class="back" onclick="location.href='/index'">返回首页</div>
    </div>
</body>

</html>